* {
    /* border: gold solid 1px */
}

@font-face {
    font-family: onePieceFont;
    src:url(onepiecefont.ttf)
}

body {
    /* background-color: #3f61b4; */
    background-image: url(https://preview.redd.it/0em9dqfi3sq61.jpg?auto=webp&s=2a4a9dc5264aa9ce342b9cf0bf1c3bcc8b3b9444);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(0,0,0,0.75); */
    /* opacity: 10; */
    height: 300 px;
    font-family: onePieceFont;
    /* background-color: black; */
}




header {
    text-align: center;
    font-family: onePieceFont;
    font-size: 60px;
    margin-bottom: 10px;
    width: 40vw;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;

}
h1 {
    margin: 0;
    color: #a2173b;
    /* color: rgb(255, 26, 34); */
    font-weight: bolder;
    
}


main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 50%;
    margin: 0 auto;
    background-color: #a2173b;
    border-radius: 25px;
}

.screen {
    height:55vh;
    width: 75%;
    background-color: #f8f7ff;
    /* margin-top: 1vh; */
    display: flex;
}

.sprite {
    height:150px ;
}

.points-container {
    display: flex;
    justify-content: space-around;
    width: 75%;
    text-align: center;
    background-color: #f2d857;
    font-size: 20px;
}

.points-window {
margin: 0
}
.points-titles {
    margin: 0
}

.points-actual {
    margin: 0
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding:3vh 0 
}
.buttons {
    background-color: #f2d857;
    height:50px;
    width: 17vh;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    font-family: onePieceFont;
    font-size: 21px;

}
.name-button {
    width: 28vh;
    font-size: 21px;
}

h4{
    margin: auto;
    padding:1vh;
    font-size: 20px;
}

/* .sprite {
    background-image: url(../image/kid-luffy.png);
    height: 30px
} */


/* .game-console {
    background-color: lightcoral;
    /* height: 50 vh; */
    /* width: 60 vw; */
/* } */

.night-time {
    background-image: url(../image/night-time.jpg);
    background-repeat: no-repeat;
    background-size: 110vh;
}

.end-sequence-one {
    background-image: url(../image/luffy-falls.jpeg) ;
    background-repeat: no-repeat;
    background-size: 110vh;
    background-position: 0px;
}

.end-sequence-two {
    background-image: url(../image/luffy-defeated.jpeg);
    background-repeat: no-repeat;
    background-size: 38vw;
    /* background-position: 25px; */
}

.end-sequence-three {
    background-image: url(../image/luffy-down.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#tamagotchi-name {
    font-size: 55px;
    margin:0;
    font-weight: 900;
}

.game-over-element {
    color: #a2173b;
    text-align: center;
    font-size: 170px;
    font-weight: bolder;
    margin-top: 20px;
    /* vertical-align: text-top; */

}